<ion-header>
  <ion-toolbar>
    <br>
    <br>
    <br>
    <br>
    <ion-title>About Us</ion-title>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Verion 9.6.0-release.01
    </ion-list-header>
    <ion-list-header>
      <h2>Help</h2>
    </ion-list-header>
    <ion-item>Help Center</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h2>Legal</h2>
    </ion-list-header>
    <ion-item>Terms of service</ion-item>
    <ion-item>Privacy Policy</ion-item>
    <ion-item>Cookie use</ion-item>
    <ion-item>Legal notices</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h2>Developers</h2>
    </ion-list-header>
    <ion-item>Development</ion-item>
  </ion-list>
</ion-content>
