<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        RECIPE APP
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/login">Sign out</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="list">
    <ion-label>List</ion-label>
    <ion-icon name="list-outline"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="about">
    <ion-label>About</ion-label>
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>





</ion-app>
